In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('loans_full_schema.csv')

df.head(5)

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0

In [5]:
df.columns

Index(['emp_title', 'emp_length', 'state', 'homeownership', 'annual_income',
       'verified_income', 'debt_to_income', 'annual_income_joint',
       'verification_income_joint', 'debt_to_income_joint', 'delinq_2y',
       'months_since_last_delinq', 'earliest_credit_line',
       'inquiries_last_12m', 'total_credit_lines', 'open_credit_lines',
       'total_credit_limit', 'total_credit_utilized',
       'num_collections_last_12m', 'num_historical_failed_to_pay',
       'months_since_90d_late', 'current_accounts_delinq',
       'total_collection_amount_ever', 'current_installment_accounts',
       'accounts_opened_24m', 'months_since_last_credit_inquiry',
       'num_satisfactory_accounts', 'num_accounts_120d_past_due',
       'num_accounts_30d_past_due', 'num_active_debit_accounts',
       'total_debit_limit', 'num_total_cc_accounts', 'num_open_cc_accounts',
       'num_cc_carrying_balance', 'num_mort_accounts',
       'account_never_delinq_percent', 'tax_liens', 'public_record_bankrupt',
       'loan_purpose', 'application_type', 'loan_amount', 'term',
       'interest_rate', 'installment', 'grade', 'sub_grade', 'issue_month',
       'loan_status', 'initial_listing_status', 'disbursement_method',
       'balance', 'paid_total', 'paid_principal', 'paid_interest',
       'paid_late_fees'],
      dtype='object')

NameError: name 'random' is not defined

### Random Variables ###
- Any value between 0 and 1
- Nothing is really random on the computer, there are large lookups
- Random.seed(), same result if it's the same code even on different comupters]
- Random seed vs random variable

## Machine Learning
- Unsupervised
- Supervised
- Reinforced

### Preprocessing
- Cleaning null values
- Data cleaning
    Missing values, extreme outliers
- One-Hot encoding
- Convert Categorical to numerical(sometimes basically one-hot encoding)
- Standardization/normalization
- multicollinearity (caused by one-hot)
- feauture engineering
    Too many features slows down
- Cross Validation
  Performance test of machine learning model
      Train with subset, test with different ones

In [22]:
import pandas as pd
df_clothes = pd.DataFrame(data = [['green', 'M', 10, 'shirt'],
                                 ['red', 'M', 60, 'sweatshirt'],
                                 ['black', 'M', 120, 'shoes']])
df_clothes

       0  1    2           3
0  green  M   10       shirt
1    red  M   60  sweatshirt
2  black  M  120       shoes

In [21]:
%pip install scikit-learn
# from sklearn.prepprocessing import LabelEncoder

Collecting scikit-learn
  Downloading scikit_learn-1.4.0-1-cp312-cp312-macosx_10_9_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /usr/local/lib/python3.12/site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/Cellar/jupyterlab/4.0.10/libexec/lib/python3.12/site-packages (from scikit-learn) (1.12.0)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.3.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.4.0-1-cp312-cp312-macosx_10_9_x86_64.whl (11.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.5/11.5 MB 13.2 MB/s eta 0:00:0000:0100:01
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 kB 5.5 MB/s eta 0:00:00a 0:00:01
Downloading threadpoolctl-3.3.0-py3-none-any.whl (17 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.4.0 threadpoolctl-3.3.0

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: /usr/local/Cellar/jupyterlab/4.0.10/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [24]:
# one-hot encoding, non numerical
df_clothes = pd.get_dummies(df_clothes[['color','size','price']])
df_clothes

KeyError: "None of [Index(['color', 'size', 'price'], dtype='object')] are in the [columns]"